.formcontrol {
	padding: .2em;
}

.left th {
	text-align: right;
	vertical-align: top;
}

.left td,
.left th {
	padding-bottom: .5em;
}
.left tr:last-child td,
.left tr:last-child th {
	padding-bottom: 0;
}

.left th {
	padding-right: .2em;
}
.right th {
	padding-left: .2em;
}

.td_submit {
	text-align: center;
}

.pwform input[type=submit] {
	width: 100%;
}
