@import url("/media/css/resets.css");
@import url("/media/css/fonts/linux-libertine.css");

body {
	font-family: "Linux Libertine O",serif;
}

a:hover {
	text-decoration: underline;
}

th {
	cursor: default;
}

form {
	color: #487858;
}

input,
textarea {
	border: 1px solid #487858;
	background-color: transparent;
	color: inherit;
	color: #284533;
	padding-left: .1em;
	padding-right: .1em;
}

textarea {
	font-family: sans-serif;
	font-size: .8em;
}

.noborder {
	border:none;
}

.error {
	color: #D62222;
}

.inputerror {
	display: inline;
}

.inputerror .sign {
}

.inputerror .errorlist {
}

div.top {
	position: fixed;
	top: 0;

	padding: .4em;
	color: #487858;
	font-size: .9em;
}
div.top.left {
	left: 0;
}
div.top.right {
	right: 0;
}

div.top form {
	display: inline;
}

.hidden {
	display: none;
}

div.inline {
	display: inline;
}

.greylink {
	color: #aaa;
}
