{% load url from future %}
{% load ttags %}
{% load i18n %}
{% block pwlist %}

{% if entry_list or entry_filter %}
<div class="top left">
	<form method="get" action="{% url 'main' %}">
		<p class="filter">
			<label for="filter">Filter </label>
			<input type="text" name="filter" value="{{ entry_filter|default:"" }}" class="pwlistfilter" size=18 autocomplete="off" />
			{% if entry_filter %}
			<a href="{% url 'main' %}" class="clear_filter">clear</a>
			{% endif %}
		</p>
	</form>
</div>
{% endif %}

{% if entry_list %}
<table class="pwlist">
	<thead>
	<tr>
		<th>{% trans "Where" %}</th>
		<th>{% trans "User name" %}</th>
		<th>{% trans "Email" %}</th>
		<th>{% trans "Password" %}</th>
		<th>{% trans "Extra info" %}</th>
		<th>{% trans "Created" %}</th>
	</tr>
	</thead>
	<tbody>
	{% for entry in entry_list %}
	<!-- multiple tds needed for tablesorter to work -->
	<tr class="empty nofilter"><td /><td /><td /><td /><td /><td /></tr>
	<tr>
		<td><a href="/edit/{{entry.id}}">{{ entry.name }}</a></td>
		<td>{{ entry.user }}</td>
		<td>{{ entry.email }}</td>
		<td class="pw showonhover">{{ entry.pw }}</td>
		<td><div class="extra">{{ entry.extra }}</div></td>
		<td>
			<span class="unixtime">{{ entry.created|date:"U" }}</span>
			<span class="humantime">{{ entry.created|date:"SHORT_DATE_FORMAT" }}</span>
		</td>
		{% url 'delete' as delete_url %}
		<td class="td_deleteform">{% deleteform entry.id "X" delete_url %}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
<p class="noentries">{% trans "No entries." %}</p>
{% endif %}
{% endblock %}
