{% extends "base.html" %}
{% load i18n %}
{% load ttags %}

{% block extrahead %}
        {% include "auth.head" %}
{% endblock %}

{% block content %}

<div class="authpage">
	<form method="post" action="{% url 'settings' %}">
	{% csrf_token %}
	{% empty_password form.user as emptypassword %}

	<table>
	{% if not emptypassword %}
	<tr>
		<th>
			{{ form.old_password.label_tag }}
			{% inputerror form.old_password.errors %}
		</th>
	</tr>
	<tr>
		<td>{{ form.old_password }}</td>
	</tr>
	{% endif %}

	<tr>
		<th>
			{{ form.new_password1.label_tag }}
			{% inputerror form.new_password1.errors %}
		</th>
	</tr>
	<tr>
		<td>{{ form.new_password1 }}</td>
	</tr>

	<tr>
		<th>
			{{ form.new_password2.label_tag }}
			{% inputerror form.new_password2.errors %}
		</th>
	</tr>
	<tr>
		<td>{{ form.new_password2 }}</td>
	</tr>
	</table>

	{{ form.non_field_errors }}

	<div class="inputbox"><input type="submit" value="{% trans "Save" %}" /></div>
	</form>
</div>

{% endblock %}
