.authpage {
	text-align: center;
	margin: 2em auto;
	padding: 1em;
	width: 40%;
	border: 5px solid #e0ffb8;
}

.authpage table {
	margin: 0 auto;
}

.authpage input {
	margin-top: .3em;
	margin-bottom: .8em;
}

.authpage td {
	padding-left: .2em;
}

.authpage input[type=submit], .authpage input[type=button] {
	margin-top: 1.2em;
}
