@import url("/media/css/resets.css");
@import url("/media/css/font-linux-libertine.css");

body {
	font-family: "Linux Libertine O",serif;
}

a:hover {
	text-decoration: underline;
}

form {
	color: #487858;
}

input,
textarea {
	border: 1px solid #487858;
	background-color: transparent;
	color: inherit;
}

.error {
	color: #D62222;
}

.ausfuellfehler {
	display: inline;
}

.ausfuellfehler .zeichen {
}

.ausfuellfehler .errorlist {
}

div.top {
	position: fixed;
	top: 0;

	padding: .4em;
	color: #487858;
	font-size: .9em;
}
div.top.left {
	left: 0;
}
div.top.right {
	right: 0;
}

div.top form {
	display: inline;
}
