.form {
	color: #487858;
}

.form input, .form textarea {
	border: 1px solid #487858;
	background-color: transparent;
}
.formcontrol {
	padding: .2em;
}

.form input {
	vertical-align: top;
	color: inherit;
}

.left th {
	text-align: right;
	vertical-align: top;
}

.left td,
.left th {
	padding-bottom: .5em;
}
.left tr:last-child td,
.left tr:last-child th {
	padding-bottom: 0;
}

.left th {
	padding-right: .2em;
}
.right th {
	padding-left: .2em;
}

.td_submit {
	text-align: center;
}

.form input[type=submit] {
	width: 100%;
}

.ausfuellfehler {
	display: inline;
}

.ausfuellfehler .zeichen {
	color: #D62222;
}

.ausfuellfehler .errorlist {
}
