{% extends "base-xhtml-1.0-strict.html" %}
{% load static %}

{% block head %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}u51{% endblock %}</title>

	{% block media %}
	<!-- Disable favicon requests -->
	<link rel="icon" href="data:,">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />

	<script type="text/javascript">var STATIC_URL = "{% static '' %}";</script>

	<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

	<script type="text/javascript" src="{{ Media.JQ_JQ }}"></script>
	<script type="text/javascript" src="{{ Media.JQ_QTIP }}"></script>
	<script type="text/javascript" src="{{ Media.JQ_UITABLEFILTER }}"></script>
	<script type="text/javascript" src="{{ Media.JQ_TABLESORTER }}"></script>
	<script type="text/javascript" src="{{ Media.JQ_HOVERINTENT }}"></script>
	<script type="text/javascript" src="{{ Media.JQ_UIEFFECTS }}"></script>

	<script type="text/javascript" src="{{ Media.JS_COPYTOCLIPBOARD }}"></script>

	<!-- TODO modularize JS -->
	<script type="text/javascript" src="{% static 'pws/js/all.js' %}"></script>

	{% block extrahead %}{% endblock %}
	{% endblock %}
{% endblock %}

{% block body %}
	<div id="page">
		{% block content %}{% endblock %}
	</div>
{% endblock %}

