{% extends "base.html" %}
{% load i18n %}
{% load ttags %}

{% block extrahead %}
	{% include "auth.head" %}
{% endblock %}

{% block content %}

<div class="authpage">

	<form method="post" action="{% url 'login' %}">
		{% csrf_token %}

		{% if password_set %}
		<table>
			<tr>
				<th>
					{{ form.password.label_tag }}
					{% if form.errors %}
						{% inputerror_message _("Wrong password.") %}
					{% endif %}
				</th>
			</tr>
			<tr>
				<td>{{ form.password }}</td>
			</tr>
		</table>
		{% endif %}

		<div class="inputbox"><input type="submit" value="{% trans "Login" %}" /></div>
		<div class="hidden"><input type="hidden" name="next" value="{{ next }}" /></div>
	</form>
</div>

{% endblock %}
