{% load ttags %}
{% block liste %}
{% if eintrag_list %}
<table class="liste">
	<tr>
		<th>Wo</th>
		<th>Benutzername</th>
		<th>Email</th>
		<th>Passwort</th>
		<th>Extra-Info</th>
		<th>Angelegt</th>
	</tr>
	{% for eintrag in eintrag_list %}
	<tr class="empty"><td /></tr>
	<tr>
		<td><a href="/edit/{{eintrag.id}}">{{ eintrag.name }}</a></td>
		<td>{{ eintrag.user }}</td>
		<td>{{ eintrag.email }}</td>
		<td>{{ eintrag.pw }}</td>
		<td><div class="extra">{{ eintrag.extra }}</div></td>
		<td>{{ eintrag.eingetragen|date:"d.m.Y" }}</td>
		<td class="td_loeschform">{% loeschform eintrag.id "X" "/delete/" %}</td><!-- TODO check url() -->
	</tr>
	{% endfor %}
</table>
{% else %}
<p class="noentries">Keine Einträge vorhanden.</p>
{% endif %}
{% endblock %}
