{% extends "base.html" %}
{% load i18n %}
{% load ttags %}

{% block extrahead %}
        {% include "pws/auth.head" %}
{% endblock %}

{% block content %}

<div class="authpage">

	<form method="post" action="{% url django.contrib.auth.views.login %}">
	{% csrf_token %}

	{% if password_set %}
	<table>
	<tr>
		<th>
			{{ form.password.label_tag }}
			{% if form.errors %}
				{% inputerror_message _("Passwort falsch.") %}
			{% endif %}
		</th>
	</tr>
	<tr>
		<td>{{ form.password }}</td>
	</tr>
	</table>
	{% endif %}

	<input type="submit" value="{% trans "Login" %}" />
	<input type="hidden" name="next" value="{{ next }}" />
	</form>
</div>

{% endblock %}
