{% load ttags %}
{% block pwlist %}
{% if entry_list %}

<div class="top right">
	<form action="{% url settings %}" method="post" class="logoutform">
		<input type="submit" name="settings" value="Einstellungen" class="settings_button" />
	</form>
	<form action="{% url logout %}" method="post" class="logoutform">
		<input type="submit" name="logout" value="Logout" class="logout_button" />
	</form>
</div>

<div class="top left">
	<p class="filter"><span>Filter </span><input type="text" class="pwlistfilter" /></p>
</div>

<table class="pwlist">
	<thead>
	<tr>
		<th>Wo</th>
		<th>Benutzername</th>
		<th>Email</th>
		<th>Passwort</th>
		<th>Extra-Info</th>
		<th>Angelegt</th>
	</tr>
	</thead>
	<tbody>
	{% for entry in entry_list %}
	<!-- multiple tds needed for tablesorter to work -->
	<tr class="empty nofilter"><td /><td /><td /><td /><td /><td /></tr>
	<tr>
		<td><a href="/edit/{{entry.id}}">{{ entry.name }}</a></td>
		<td>{{ entry.user }}</td>
		<td>{{ entry.email }}</td>
		<td class="pw showonhover">{{ entry.pw }}</td>
		<td><div class="extra">{{ entry.extra }}</div></td>
		<td>{{ entry.eingetragen|date:"d.m.Y" }}</td>
		<td class="td_deleteform">{% deleteform entry.id "X" "/delete/" %}</td><!-- TODO check url() -->
	</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
<p class="noentries">Keine Einträge vorhanden.</p>
{% endif %}
{% endblock %}
