{% extends "base.html" %}
{% load i18n %}
{% load ttags %}

{% block extrahead %}
        {% include "pws/auth.head" %}
{% endblock %}

{% block content %}

<div class="authpage">
	<form method="post" action="{% url django.contrib.auth.views.password_change %}">
	{% csrf_token %}
	{% empty_password form.user as emptypassword %}
	
	<table>
	{% if not emptypassword %}
	<tr>
		<th>
			{{ form.old_password.label_tag }}
			{% inputerror form.old_password.errors %}
		</th>
	</tr>
	<tr>
		<td>{{ form.old_password }}</td>
	</tr>
	{% endif %}
	
	<tr>
		<th>
			{{ form.new_password1.label_tag }}
			{% inputerror form.new_password1.errors %}
		</th>
	</tr>
	<tr>
		<td>{{ form.new_password1 }}</td>
	</tr>
	
	<tr>
		<th>
			{{ form.new_password2.label_tag }}
			{% inputerror form.new_password2.errors %}
		</th>
	</tr>
	<tr>
		<td>{{ form.new_password2 }}</td>
	</tr>
	</table>
	
	<strong>{{ form.non_field_errors }}</strong>

	<input type="submit" value="Speichern" />
	<input type="hidden" name="next" value="{{ next }}" />
	</form>
</div>

{% endblock %}
